activité/activité.json
{
  "name": "activité",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "=Tu es l’assistant de Génération Prospect, agence d’activités à Bali.\n\nDate système actuelle : {{ new Date().toLocaleDateString('fr-FR', { timeZone: 'Europe/Paris', weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) }}\n\nIMPORTANT : Utilise TOUJOURS l’outil \"base_de_connaissance\" pour rechercher des informations sur les activités, prix, et politiques avant de répondre.\n\nTon rôle :\n\nPrésenter nos activités avec les prix exacts de la base de données\n\nPrendre les informations du prospect\n\nInformer sur les disponibilités\n\nAider à la réservation\n\nDonner des conseils personnalisés\n\nProcessus :\n\nUtilise l’outil knowledge_base pour chercher les informations\n\nBase-toi UNIQUEMENT sur ces données pour répondre\n\nSois chaleureux et professionnel\n\nQuand un client fournit ses informations personnelles (nom, email, téléphone), tu dois :\n\nExtraire ces informations de la conversation\n\nUtiliser l’outil gerer_clients avec ce format exact :\n\nname: [nom du client]\n\nemail: [email du client]\n\nphone: [téléphone du client]\n\nactivity: [activité souhaitée]\n\ndate: [date actuelle]\n\nAssure-toi de demander ces informations si elles manquent avant de faire la réservation. \n\nSuite a une réservation envoie systématiquement un email de confirmation.\n\nCommence par : \"Bonjour! Quelle activité à Bali vous intéresse ?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1936,
        64
      ],
      "id": "52c7f7d0-2818-44b0-8b82-0d497f56d540",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2272,
        352
      ],
      "id": "c1c66cc1-cb21-4bee-842f-f0dc57ba5197",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8FAfgr6bE798vNLA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2112,
        352
      ],
      "id": "a76441f8-172b-42c5-8ca8-de66bf64f8c0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1RL1hEmRTHs9FZIRQvwotgyUUr5bTQhOS",
          "mode": "list",
          "cachedResultName": "FORMATION AGENT IA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1RL1hEmRTHs9FZIRQvwotgyUUr5bTQhOS"
        },
        "event": "fileUpdated",
        "options": {
          "fileType": "application/vnd.google-apps.document"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        752
      ],
      "id": "767cf42a-6611-46e7-9815-c22acef41036",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8Jy8FQNbOsQvXQjk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1264,
        752
      ],
      "id": "51be186b-d63a-4c3b-8b46-550184d94f88",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8Jy8FQNbOsQvXQjk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Appelle cet outils à chaque question",
        "memoryKey": {
          "__rl": true,
          "value": "bali_activities_db",
          "mode": "list",
          "cachedResultName": "bali_activities_db"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -2048,
        528
      ],
      "id": "e56834a5-b0b8-4580-ba96-d0d9d2d2aa56",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2048,
        688
      ],
      "id": "a4073050-05a3-4104-88e0-a34c6a783f97",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "8FAfgr6bE798vNLA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilise cet outils pour sauvegarder les informations clients. Paramètres requis : name (nom complet), email (adresse email), phone (numéro de téléphone),  activity (activité souhaitée). Exemple d'utilisation : name \"Jean Bon\", email \"jean@mail.com\", phone \"0102030405\", activity \"tour volcan\"",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MnIl7K9kb9H-ypSIhg445Tzf7hmprCe-uwftFob4i_U",
          "mode": "list",
          "cachedResultName": "BDD agent IA bali",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MnIl7K9kb9H-ypSIhg445Tzf7hmprCe-uwftFob4i_U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MnIl7K9kb9H-ypSIhg445Tzf7hmprCe-uwftFob4i_U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nom_', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Téléphone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('T_l_phone', ``, 'string') }}",
            "Activité_souhaitée": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Activit__souhait_e', ``, 'string') }}",
            "date_activité": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date_activit_', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom ",
              "displayName": "Nom ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activité_souhaitée",
              "displayName": "Activité_souhaitée",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_activité",
              "displayName": "date_activité",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1536,
        352
      ],
      "id": "bca3de30-489e-4fda-8fd4-a5056ad722d0",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5frCv8PrYjgXuRB4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilise cet outil pour ajouter la réservation dans l'agenda. Exécute cette action systématiquement qu'un client a réservé. ",
        "calendar": {
          "__rl": true,
          "value": "6d9a7aa2e6efc9918242243d16bfc85adf413653db3dc1d37efb287ae916f691@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Bali test"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1728,
        352
      ],
      "id": "8eb9bbb1-53cc-42c4-94b4-83148ef46bcb",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6FmCQfKtd4Y0zZRb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Envoie systématiquement suite a la prise de réservation un email de confirmation récapitulatif à l'utilisateur avec toutes les informations de l'activité qu'il a réservée.\n",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `Envoie l'email de confirmation sur l'adresse email que l'utilisateur a renseigné dans ses informations dans le chat. `, 'string') }}",
        "subject": "Confirmation de réservation",
        "emailType": "text",
        "message": "=Bonjour {{$json.clientFirstName || 'Sacha'}},\n\nVotre réservation a bien été confirmée ✅ Voici les détails :\n\n- 📍 Activité : {{$json.activity || 'Cours de surf pour débutants'}}\n- 📅 Date : {{$json.date || '19 septembre 2025'}}\n- ⏰ Heure : {{$json.time || '18h00'}}\n- 🏄 École de surf : {{$json.schoolName || 'Surf School Bali'}}\n\nNous restons à votre disposition pour toute question ou information supplémentaire.\n\nÀ très bientôt ! 🌴\n\nCordialement,\nL’équipe Génération Prospect Bali\n",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -1120,
        352
      ],
      "id": "82af4620-59d6-4d18-b6c9-6ff82f2a734d",
      "name": "Send a message in Gmail",
      "webhookId": "c6625bcf-5ac8-44e3-a2db-030996ea4361",
      "credentials": {
        "gmailOAuth2": {
          "id": "GghZbyCzfppLPfM0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -1344,
        352
      ],
      "id": "fe2232f8-d71c-47ca-b36a-a344bead702b",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "WONGfm5iB8XAsl3B",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1088,
        960
      ],
      "id": "a76c0ecf-a7d7-4472-950e-9f4c6835b17a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "8FAfgr6bE798vNLA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        -928,
        1184
      ],
      "id": "92620e84-e689-4261-baa0-08bc64e30d94",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -928,
        960
      ],
      "id": "e9cdc20b-4fa5-4abc-992e-b0de814dcef1",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "bali_activities_db",
          "mode": "list",
          "cachedResultName": "bali_activities_db"
        },
        "embeddingBatchSize": 400
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -1024,
        752
      ],
      "id": "c825db69-06e7-4297-a22a-ed2e268b0a3e",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2448,
        64
      ],
      "id": "6a9c3996-64a7-4fb6-a23b-363362361677",
      "name": "Telegram Trigger",
      "webhookId": "452b83dc-1384-4e03-ad6a-089cf73a2ea8",
      "credentials": {
        "telegramApi": {
          "id": "wXjRAt40FrbFHfkp",
          "name": "Telegram bali"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0ded9fb-51e3-4fa2-b2e2-ea33f831fd30",
              "name": "input",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "bb26a164-1cad-4f23-b924-8ce30e7dc83f",
              "name": "sessionId",
              "value": "={{ 'telegram_' + String($json.message.chat.id) }}",
              "type": "string"
            },
            {
              "id": "cabbc949-e27e-441b-906e-5887e5be4abf",
              "name": "chatId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2224,
        64
      ],
      "id": "ebdc53ec-884e-407f-b136-1da4cfdf75a4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1536,
        48
      ],
      "id": "d1df438e-b748-4144-85bc-c052840626eb",
      "name": "Send a text message",
      "webhookId": "b7495dce-4b5d-486e-bb5a-76da2bc72cfe",
      "credentials": {
        "telegramApi": {
          "id": "wXjRAt40FrbFHfkp",
          "name": "Telegram bali"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "814222728439919",
        "recipientPhoneNumber": "+33651447441",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "0cc9277a-f28b-4379-8510-491bc0a2991e",
      "name": "Send message",
      "webhookId": "89bfdb76-4332-4ca7-baf1-03023aa79446",
      "credentials": {
        "whatsAppApi": {
          "id": "o8EHSoSP1nQbHgwJ",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=Tu es l’assistant de Génération Prospect, agence d’activités à Bali.\n\nDate système actuelle : {{ new Date().toLocaleDateString('fr-FR', { timeZone: 'Europe/Paris', weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) }}\n\nIMPORTANT : Utilise TOUJOURS l’outil \"base_de_connaissance\" pour rechercher des informations sur les activités, prix, et politiques avant de répondre.\n\nTon rôle :\n\nPrésenter nos activités avec les prix exacts de la base de données\n\nPrendre les informations du prospect\n\nInformer sur les disponibilités\n\nAider à la réservation\n\nDonner des conseils personnalisés\n\nProcessus :\n\nUtilise l’outil knowledge_base pour chercher les informations\n\nBase-toi UNIQUEMENT sur ces données pour répondre\n\nSois chaleureux et professionnel\n\nQuand un client fournit ses informations personnelles (nom, email, téléphone), tu dois :\n\nExtraire ces informations de la conversation\n\nUtiliser l’outil gerer_clients avec ce format exact :\n\nname: [nom du client]\n\nemail: [email du client]\n\nphone: [téléphone du client]\n\nactivity: [activité souhaitée]\n\ndate: [date actuelle]\n\nAssure-toi de demander ces informations si elles manquent avant de faire la réservation. \n\nSuite a une réservation envoie systématiquement un email de confirmation.\n\nCommence par : \"Bonjour! Quelle activité à Bali vous intéresse ?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -400,
        16
      ],
      "id": "cca362bf-9e10-4b39-a5e5-237f9b90757e",
      "name": "AI Agent2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.messages[0].from}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -576,
        304
      ],
      "id": "6a77c11e-b321-480e-9261-ac8d25ee5fc8",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Appelle cet outils à chaque question",
        "memoryKey": {
          "__rl": true,
          "value": "bali_activities_db",
          "mode": "list",
          "cachedResultName": "bali_activities_db"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -512,
        480
      ],
      "id": "8129f6b8-8a17-42a0-9dcd-0ff38d865d55",
      "name": "Simple Vector Store3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -512,
        640
      ],
      "id": "90c91eb9-671f-49e5-9343-da684e6377bd",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "8FAfgr6bE798vNLA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilise cet outils pour sauvegarder les informations clients. Paramètres requis : name (nom complet), email (adresse email), phone (numéro de téléphone),  activity (activité souhaitée). Exemple d'utilisation : name \"Jean Bon\", email \"jean@mail.com\", phone \"0102030405\", activity \"tour volcan\"",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MnIl7K9kb9H-ypSIhg445Tzf7hmprCe-uwftFob4i_U",
          "mode": "list",
          "cachedResultName": "BDD agent IA bali",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MnIl7K9kb9H-ypSIhg445Tzf7hmprCe-uwftFob4i_U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MnIl7K9kb9H-ypSIhg445Tzf7hmprCe-uwftFob4i_U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nom ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nom_', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Téléphone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('T_l_phone', ``, 'string') }}",
            "Activité_souhaitée": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Activit__souhait_e', ``, 'string') }}",
            "date_activité": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date_activit_', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom ",
              "displayName": "Nom ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Activité_souhaitée",
              "displayName": "Activité_souhaitée",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_activité",
              "displayName": "date_activité",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        0,
        304
      ],
      "id": "de8ef772-e274-4f9a-ac59-0d014248758b",
      "name": "Append row in sheet in Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5frCv8PrYjgXuRB4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilise cet outil pour ajouter la réservation dans l'agenda. Exécute cette action systématiquement qu'un client a réservé. ",
        "calendar": {
          "__rl": true,
          "value": "6d9a7aa2e6efc9918242243d16bfc85adf413653db3dc1d37efb287ae916f691@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Bali test"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -192,
        304
      ],
      "id": "e9e19946-5669-4011-95bf-cbf644eb183f",
      "name": "Create an event in Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6FmCQfKtd4Y0zZRb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Envoie systématiquement suite a la prise de réservation un email de confirmation récapitulatif à l'utilisateur avec toutes les informations de l'activité qu'il a réservée.\n",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `Envoie l'email de confirmation sur l'adresse email que l'utilisateur a renseigné dans ses informations dans le chat. `, 'string') }}",
        "subject": "Confirmation de réservation",
        "emailType": "text",
        "message": "=Bonjour {{$json.clientFirstName || 'Sacha'}},\n\nVotre réservation a bien été confirmée ✅ Voici les détails :\n\n- 📍 Activité : {{$json.activity || 'Cours de surf pour débutants'}}\n- 📅 Date : {{$json.date || '19 septembre 2025'}}\n- ⏰ Heure : {{$json.time || '18h00'}}\n- 🏄 École de surf : {{$json.schoolName || 'Surf School Bali'}}\n\nNous restons à votre disposition pour toute question ou information supplémentaire.\n\nÀ très bientôt ! 🌴\n\nCordialement,\nL’équipe Génération Prospect Bali\n",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        416,
        304
      ],
      "id": "35687eb2-60e5-41c4-95d1-d1e19d0311a6",
      "name": "Send a message in Gmail1",
      "webhookId": "c6625bcf-5ac8-44e3-a2db-030996ea4361",
      "credentials": {
        "gmailOAuth2": {
          "id": "GghZbyCzfppLPfM0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        192,
        304
      ],
      "id": "0eaa863e-24f0-42ab-836a-f297fc96530c",
      "name": "SerpAPI1",
      "credentials": {
        "serpApi": {
          "id": "WONGfm5iB8XAsl3B",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        16
      ],
      "id": "8587c771-1ce9-4f48-b70c-e313dcb5702d",
      "name": "WhatsApp Trigger1",
      "webhookId": "24c53e9e-bf38-4d06-abec-6a9843bf41ec",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "IJJAkmGbengvsRUP",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "frequencyPenalty": 0.3,
          "maxTokens": 150,
          "presencePenalty": 0.2,
          "temperature": 0.2,
          "topP": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -784,
        304
      ],
      "id": "783a2686-f824-4769-8af7-22c78f1bd378",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "8FAfgr6bE798vNLA",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "83861e56-094f-407c-beac-25373682ef12",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a699546b1bac51acced4af564e7deafa65f27cae280450aeea90271ef7798053"
  },
  "id": "ePyBRkfVdCU5b0UEZarF4",
  "tags": [
    {
      "name": "🌴",
      "id": "90w3CIwbzHFVn1R8",
      "updatedAt": "2026-02-06T00:33:57.338Z",
      "createdAt": "2026-02-06T00:33:57.338Z"
    }
  ]
}